# Environment variables
.env
.env.*
!.env.example

# Database
*.sqlite3
*.db
db.sqlite3

# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
venv/
env/

# Django
staticfiles/
media/

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db